extends layout

block content
    div.space-xs.col.centered
        h1 Task API Test
        p This HTML/JS page tests the Task API by listing all; then creating, finding, modifying, and deleting a task resource using the REST API.
        button.test Test the API

    script(src='javascripts/api.js', type='text/javascript') 